.container {
    max-width: 500px;
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img {
    display: block;
    margin: auto;
}

p {
    text-align: center;
    font-family: "Consolas", "Arial", "Times New Roman";
}